/* Footer Container */
.footer {
  background-color: #0b0b3b;
  color: white;
  padding: 2rem 0 0.5rem 0;
  font-size: 0.9rem;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  padding: 0 2rem;
  position: relative;
}

/* Footer Sections */
.footer-section {
  flex-basis: 25%;
  min-width: 200px;
  margin-bottom: 1.5rem;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}





/* Contact Info */
.contact p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

/* Social Media Icons */
.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ffcc00;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  padding: 1rem 0 0.5rem 0;
  background-color: #09092e;
  font-size: 0.85rem;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .footer-container::after {
    bottom: -5px;
  }
}
